<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bzio.system.mapper.SysDictTypeMapper">

    <resultMap type="org.bzio.system.entity.SysDictType" id="SysDictTypeMap">
        <result property="dictId" column="dict_id" jdbcType="VARCHAR"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="note" column="note" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectDictType">
        select
            dict_id, dict_name, dict_type, order_num, status, note, create_by, create_name, create_date, update_by, update_name, update_date
        from sys_dict_type
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="SysDictTypeMap">
        <include refid="selectDictType"/>
        where dict_id = #{dictId}
    </select>
    
    <select id="queryByType" resultMap="SysDictTypeMap">
        <include refid="selectDictType"/>
        where dict_type = #{dictType}
    </select>

    <!--查询指定行数据-->
    <select id="queryALl" resultMap="SysDictTypeMap">
        <include refid="selectDictType"/>
        <where>
            <if test="dictId != null and dictId != ''">
                and dict_id = #{dictId}
            </if>
            <if test="dictName != null and dictName != ''">
                and dict_name = #{dictName}
            </if>
            <if test="dictType != null and dictType != ''">
                and dict_type = #{dictType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createName != null and createName != ''">
                and create_name = #{createName}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateName != null and updateName != ''">
                and update_name = #{updateName}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_dict_type
        <where>
            <if test="dictId != null and dictId != ''">
                and dict_id = #{dictId}
            </if>
            <if test="dictName != null and dictName != ''">
                and dict_name = #{dictName}
            </if>
            <if test="dictType != null and dictType != ''">
                and dict_type = #{dictType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createName != null and createName != ''">
                and create_name = #{createName}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateName != null and updateName != ''">
                and update_name = #{updateName}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="dictId" useGeneratedKeys="true">
        insert into sys_dict_type(dict_id, dict_name, dict_type, status, note, create_by, create_name, create_date, update_by, update_name, update_date)
        values (#{dictId}, #{dictName}, #{dictType}, #{status}, #{note}, #{createBy}, #{createName}, #{createDate}, #{updateBy}, #{updateName}, #{updateDate})
    </insert>

    <insert id="insertBatch" keyProperty="dictId" useGeneratedKeys="true">
        insert into sys_dict_type(dict_name, dict_type, status, create_by, create_name, create_date, update_by, update_name, update_date)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.dictName}, #{entity.dictType}, #{entity.status}, #{entity.createBy}, #{entity.createName}, #{entity.createDate}, #{entity.updateBy}, #{entity.updateName}, #{entity.updateDate})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="dictId" useGeneratedKeys="true">
        insert into sys_dict_type(dict_name, dict_type, status, create_by, create_name, create_date, update_by, update_name, update_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.dictName}, #{entity.dictType}, #{entity.status}, #{entity.createBy}, #{entity.createName}, #{entity.createDate}, #{entity.updateBy}, #{entity.updateName}, #{entity.updateDate})
        </foreach>
        on duplicate key update
        dict_name = values(dict_name),
        dict_type = values(dict_type),
        status = values(status),
        create_by = values(create_by),
        create_name = values(create_name),
        create_date = values(create_date),
        update_by = values(update_by),
        update_name = values(update_name),
        update_date = values(update_date)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_dict_type
        <set>
            dict_name = #{dictName},
            dict_type = #{dictType},
            status = #{status},
            note = #{note},
            create_by = #{createBy},
            create_name = #{createName},
            create_date = #{createDate},
            update_by = #{updateBy},
            update_name = #{updateName},
            update_date = #{updateDate},
        </set>
        where dict_id = #{dictId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sys_dict_type where dict_id = #{dictId}
    </delete>
    
    <delete id="deleteByType">
        delete from sys_dict_type where dict_type = #{dictType}
    </delete>
</mapper>

